# Configurações do GitHub
GITHUB_PERSONA_KEY="ghp_seuTokenAqui"

# Configurações do Firebase Cloud Firestore
FIREBASE_apiKey="AIzaSyD4jfwsCKrOOJoUiY2jQmnyd7fNXTKY_Fg"
FIREBASE_authDomain="burguersync.firebaseapp.com"
FIREBASE_projectId="burguersync"
FIREBASE_storageBucket="burguersync.firebasestorage.app"
FIREBASE_messagingSenderId="85820651078"
FIREBASE_appId="1:85820651078:web:61d6022b3a70b0118dbc47"
